﻿<!DOCTYPE html>
<html lang="en">
<head>
	<!--TEMPLATE-->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="~/Template/images/favicon.ico" type="image/ico" />

	<title>Hawes & Curtis</title>

	<link href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
	@*<link href="~/Content/toastr.css" rel="stylesheet" />
		<link href="~/Content/toastr.min.css" rel="stylesheet" />*@
	@Styles.Render("~/template/Styles")


</head>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col menu_fixed">
				<div class="left_col scroll-view">
					<div class="navbar nav_title" style="border: 0;">
						<a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Hawes & Curtis</span></a>
					</div>

					<div class="clearfix"></div>

					<br />

					<!-- /sidebar menu -->
					@Html.Partial("PartialLayout/_MenuLeft")
					
				</div>
			</div>

			<!-- page content -->
			<div class="right_col" role="main">
				@RenderBody()
			</div>
		</div>
	</div>

	@*<script src="~/Scripts/toastr.js"></script>
		<script src="~/Scripts/toastr.min.js"></script>*@
	@Scripts.Render("~/template/Scripts")

	@RenderSection("scripts", required: false)
</body>
</html>
