﻿@model HC.Assessment.Domain.Entities.Shirts

@{
	ViewBag.Title = "Edit";
}

@{ Layout = null;}

<div class="modal-dialog modal-lg">
	<div class="modal-content col-lg-12">
		<br />
		@using (Html.BeginForm("Edit", "Shirts", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			@Html.AntiForgeryToken()
			@Html.HiddenFor(model => model.Id)
			@Html.HiddenFor(model => model.FilePath)
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<div class="x_panel">
				<div class="alert alert-success" role="alert">
					<h2>Shirts</h2>
					<div class="clearfix"></div>
				</div>

				<div class="modal-body">
					<div class="form-horizontal">
						<div class="row">
							<div class="x_panel">
								<div class="x_title">
									<h2>@ViewBag.Title</h2>
									<ul class="nav navbar-right panel_toolbox">
										<li>
											<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
										</li>
										<li>
											<a class="close-link"><i class="fa fa-close"></i></a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<br />

									<div class="item form-group">
										<label class="col-form-label col-md-3 col-sm-3 label-align" for="description">
											Description <span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 ">
											@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @maxlength = "80", @data_val = "true", @required = "required" } })
											@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
										</div>
									</div>
									<div class="item form-group">
										<label class="col-form-label col-md-3 col-sm-3 label-align" for="details">
											Details <span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 ">
											@Html.TextAreaFor(model => model.Details, new { @maxlength = 2000, @class = "form-control" })
										</div>
									</div>
									<div class="item form-group">
										<label class="col-form-label col-md-3 col-sm-3 label-align" for="price">
											Price <span class="required">*</span>
										</label>
										<div class="col-md-3 col-sm-3 ">
											@Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @maxlength = "10", @data_val = "true", @required = "required" } })
											@Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
										</div>
									</div>
									<div class="item form-group">
										<label class="col-form-label col-md-3 col-sm-3 label-align" for="image">
											Image
										</label>
										<div class="col-md-10">
											<input type="file" name="file" />

										</div>
									</div>
									<div class="ln_solid"></div>

									<div class="item form-group">
										<div class="col-md-6 col-sm-6 offset-md-3">
											<input type="button" value="Cancel" class="btn btn-primary" onclick="location.href='@Url.Action("Cancel", "Shirts")'" data-dismiss="modal" />
											<input id="submitAction" type="submit" value="Submit" class="btn btn-success" />; @*onclick="location.href='@Url.Action("Index", "Shirts")'"/>*@
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>

@Scripts.Render("~/bundles/jqueryval")


