﻿@model HC.Assessment.Domain.Entities.Ties

@{
	ViewBag.Title = "Delete";
}

<div class="modal-dialog">
	<div class="modal-content">
		<br />
		<div class="x_panel">
			<div class="alert alert-error" role="alert">
				<h2>Ties</h2>
				<div class="clearfix"></div>
			</div>

			<div class="modal-body">
				<div class="form-horizontal">
					<div class="row">
						<div class="x_panel">
							<div class="x_title">
								<h2>@ViewBag.Title</h2>
								<ul class="nav navbar-right panel_toolbox">
									<li>
										<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
									</li>
									<li>
										<a class="close-link"><i class="fa fa-close"></i></a>
									</li>
								</ul>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
								<br />
								<h2 style="text-align:center">Are you sure you want to delete this?</h2>
								<br />
								<dl class="dl-horizontal">
									<dt>
										@Html.DisplayNameFor(model => model.Description)
									</dt>

									<dd>
										@Html.DisplayFor(model => model.Description)
									</dd>

									<dt>
										@Html.DisplayNameFor(model => model.Details)
									</dt>

									<dd>
										@Html.DisplayFor(model => model.Details)
									</dd>

									<dt>
										@Html.DisplayNameFor(model => model.Price)
									</dt>

									<dd>
										@Html.DisplayFor(model => model.Price)
									</dd>

									<dt>

									</dt>

									<dd>
										@if (Model.FilePath != null)
										{
											<img src="@(Model.FilePath)" alt="Image" height="100" width="100" />
										}
									</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				@using (Html.BeginForm("Delete", "Ties", FormMethod.Post, new { id = "formShirts" }))
				{
					@Html.AntiForgeryToken()
					@Html.HiddenFor(model => model.Id)
					<div class="form-actions no-color">
						<input type="button" value="Cancel" class="btn btn-primary" onclick="location.href='@Url.Action("Cancel", "Ties")'" data-dismiss="modal" />
						<input id="submitAction" type="submit" value="Delete" class="btn btn-success" />
					</div>
				}
			</div>
		</div>
	</div>
</div>

@Scripts.Render("~/bundles/jqueryval")





