@model IEnumerable<HC.Assessment.Domain.Entities.Ties>

<p>
	<a href="javascript:void(0);" class="btn btn-success createAction">
		<span class="glyphicon glyphicon-plus"></span>
		Create New
	</a>

</p>

<div class="modal fade" id="tiesModal" role="dialog">
	@*<div class="modal-dialog modal-lg">
			<div id="mainContent" class="modal-content col-lg-12">
			</div>
		</div>*@
</div>

<div class="col-md-12 col-sm-12 ">
	<div class="x_panel">
		<div class="x_title">
			<h2>Ties</h2>
			<ul class="nav navbar-right panel_toolbox">
				<li>
					<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="row">
				<div class="col-sm-12">
					<div class="card-box table-responsive">
						<table id="datatable" class="table table-striped table-bordered table-hover" style="width:100%">
							<thead>
								<tr>
									<th>Description</th>
									<th>Details</th>
									<th>Price</th>
									<th>Image</th>
									<th class="text-right">Action</th>
								</tr>
							</thead>


							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>
											@Html.DisplayFor(modelItem => item.Description)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.Details)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.Price)
										</td>
										<td>
											@if (item.FilePath != null)
											{
												<img src="@Url.Content(item.FilePath)" alt="Image" height="100" width="100" />
											}
										</td>
										<td align="right">
											<a href="javascript:void(0);" class="glyphicon glyphicon-list green detailAction" data-id="@item.Id" title="Details"></a>&nbsp;
											<a href="javascript:void(0);" class="glyphicon glyphicon-edit blue editAction" data-id="@item.Id" title="Edit"></a>&nbsp;
											<a href="javascript:void(0);" class="glyphicon glyphicon-trash red deleteAction" data-id="@item.Id" title="Delete"></a>&nbsp;
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts{
	<script type="text/javascript">
		var DetailPostBackURL = '/Ties/Details?id=';
		var EditPostBackURL = '/Ties/Edit?id=';
		var CreatePostBackURL = '/Ties/Create';
		var DeletePostBackURL = '/Ties/Delete?id=';

		$(function () {
			$(".detailAction").click(function () {
				debugger;
				var id = $(this).attr("data-id");
				$("#tiesModal").load(DetailPostBackURL + id, function () {
					$("#tiesModal").modal('show');
				});
			});

			$(".editAction").click(function () {
				var id = $(this).attr("data-id");
				$("#tiesModal").load(EditPostBackURL + id, function () {
					$("#tiesModal").modal('show');
				});
			});

			$(".createAction").click(function () {
				$("#tiesModal").load(CreatePostBackURL, function () {
					$("#tiesModal").modal('show');
				});
			});

			$(".deleteAction").click(function () {
				debugger;
				var id = $(this).attr("data-id");
				$("#tiesModal").load(DeletePostBackURL + id, function () {
					$("#tiesModal").modal('show');
				});
			});
		});
	</script>
}
