﻿@model  HC.Assessment.Web.ViewModel.ProductViewModel

<div class="col-md-12 col-sm-12 ">
	<div class="x_panel">
		<div class="x_title">
			<h2>Products</h2>
			<ul class="nav navbar-right panel_toolbox">
				<li>
					<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="row">
				<div class="col-sm-12">
					<div class="card-box table-responsive">
						<table id="table" style="width:50%">
							<tbody>
								<tr>
									<td rowspan="2 " style="width: 50%">
										<div id="carouselShirts" class="carousel slide" data-ride="carousel">
											<div class="carousel-inner">
												@{int s = 0; }
												@foreach (var item in Model.Shirts)
												{
													if (s == 0)
													{
														<div class="carousel-item active">
															@if (item.FilePath != null)
															{
																<img class="d-block w-100" src="@Url.Content(item.FilePath)" style="width:50%;">
															}
															<div class="carousel-caption d-none d-md-block">
																<h5>@item.Description</h5>
																<p>£@item.Price</p>
																<a class="btn btn-primary" onclick="addBag(@item.Id, 'SHIRT')" href="#" role="button">Add to Bag</a>
															</div>
														</div>
													}
													else if (s != 0)
													{
														<div class="carousel-item">
															@if (item.FilePath != null)
															{
																<img class="d-block w-100" src="@Url.Content(item.FilePath)" style="width:50%;">
															}
															<div class="carousel-caption d-none d-md-block">
																<h5>@item.Description</h5>
																<p>£@item.Price</p>
																<a class="btn btn-primary" onclick="addBag(@item.Id, 'SHIRT')" href="#" role="button">Add to Bag</a>
															</div>
														</div>
													}
													s++;

												}
											</div>
											<a class="carousel-control-prev" href="#carouselShirts" role="button" data-slide="prev">
												<span class="glyphicon glyphicon-chevron-left black" aria-hidden="true"></span>
												<span class="sr-only">Previous</span>
											</a>
											<a class="carousel-control-next" href="#carouselShirts" role="button" data-slide="next">
												<span class="glyphicon glyphicon-chevron-right black" aria-hidden="true"></span>
												<span class="sr-only">Next</span>
											</a>
										</div>
									</td>
									<td style="width: 25%">
										<div id="carouselTies" class="carousel slide" data-ride="carousel">
											<div class="carousel-inner">
												@{int t = 0; }
												@foreach (var item in Model.Ties)
												{
													if (t == 0)
													{
														<div class="carousel-item active">
															@if (item.FilePath != null)
															{
																<img class="d-block w-100" src="@Url.Content(item.FilePath)" style="width:50%;">
															}
															<div class="carousel-caption d-none d-md-block">
																<h5>@item.Description</h5>
																<p>£@item.Price</p>
																<a class="btn btn-primary" onclick="addBag(@item.Id, 'TIE')" href="#" role="button">Add to Bag</a>
															</div>
														</div>
													}
													else if (t != 0)
													{
														<div class="carousel-item">
															@if (item.FilePath != null)
															{
																<img class="d-block w-100" src="@Url.Content(item.FilePath)" style="width:50%;">
															}
															<div class="carousel-caption d-none d-md-block">
																<h5>@item.Description</h5>
																<p>£@item.Price</p>
																<a class="btn btn-primary" onclick="addBag(@item.Id, 'TIE')" href="#" role="button">Add to Bag</a>
															</div>
														</div>
													}
													t++;

												}
											</div>
											<a class="carousel-control-prev" href="#carouselTies" role="button" data-slide="prev">
												<span class="glyphicon glyphicon-chevron-left black" aria-hidden="true"></span>
												<span class="sr-only">Previous</span>
											</a>
											<a class="carousel-control-next" href="#carouselTies" role="button" data-slide="next">
												<span class="glyphicon glyphicon-chevron-right black" aria-hidden="true"></span>
												<span class="sr-only">Next</span>
											</a>
										</div>
									</td>
								</tr>
								<tr>
									<td style="width: 25%">
										<div id="carouselCufflinks" class="carousel slide" data-ride="carousel">
											<div class="carousel-inner">
												@{int c = 0; }
												@foreach (var item in Model.Cufflinks)
												{
													if (c == 0)
													{
														<div class="carousel-item active">
															@if (item.FilePath != null)
															{
																<img class="d-block w-100" src="@Url.Content(item.FilePath)" style="width:50%;">
															}
															<div class="carousel-caption d-none d-md-block">
																<h5>@item.Description</h5>
																<p>£@item.Price</p>
																<a class="btn btn-primary" onclick="addBag(@item.Id, 'CUFFLINK')" href="#" role="button">Add to Bag</a>
															</div>
														</div>
													}
													else if (c != 0)
													{
														<div class="carousel-item">
															@if (item.FilePath != null)
															{
																<img class="d-block w-100" src="@Url.Content(item.FilePath)" style="width:50%;">
															}
															<div class="carousel-caption d-none d-md-block">
																<h5>@item.Description</h5>
																<p>£@item.Price</p>
																<a class="btn btn-primary" onclick="addBag(@item.Id, 'CUFFLINK')" href="#" role="button">Add to Bag</a>
															</div>
														</div>
													}
													c++;
												}
											</div>
											<a class="carousel-control-prev" href="#carouselCufflinks" role="button" data-slide="prev">
												<span class="glyphicon glyphicon-chevron-left black" aria-hidden="true"></span>
												<span class="sr-only">Previous</span>
											</a>
											<a class="carousel-control-next" href="#carouselCufflinks" role="button" data-slide="next">
												<span class="glyphicon glyphicon-chevron-right black" aria-hidden="true"></span>
												<span class="sr-only">Next</span>
											</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function addBag(id, type) {
		debugger;
		var url = "Bags/SaveBag"
		var data = {
			id: id,
			type: type
		}

		$.ajax({
			async: true,
			url: url,
			type: 'POST',
			data: data,
			//datatype: 'json',
			//contentType: 'application/json; charset=utf-8',
			//success: function (response) {
				
			//}
			success: Message
		});
	}

	function Message(serverresult) {
		debugger;

		if (serverresult.success) {
			toastr.options = {
				"closeButton": false,
				"debug": false,
				"newestOnTop": false,
				"progressBar": false,
				"positionClass": "toast-top-right",
				"preventDuplicates": false,
				"onclick": null,
				"showDuration": "1500",
				"hideDuration": "1500",
				"timeOut": "5000",
				"extendedTimeOut": "1500",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
			};			

			toastr.success(
				serverresult.message,
				'Add',
				{
					timeOut: 1500,
					fadeOut: 1500					
				}
			);
		}
		else {
			toastr['error'](serverresult.message);
		}
	}
</script>